# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ide's folder and project file
*/.idea/*
*.iml

# maven's folder
*/target/

.classpath
.project
.settings
.factorypath

# MacOS
.DS_Store

# Extra files
*.jpeg

/target
**/*.rs.bk
*/Cargo.lock

/.idea
